---
import "../styles/global.css";

export interface Props {
	title: string;
	description?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
	title,
	description = "Freelance Software Engineer specializing in modern web development. Passionate about creating scalable solutions while exploring the world.",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="manifest" href="/site.webmanifest" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://tenwolde.dev/" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://tenwolde.dev/og-image.jpg" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://tenwolde.dev/" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta
			property="twitter:image"
			content="https://tenwolde.dev/og-image.jpg"
		/>

		<link rel="canonical" href={canonicalURL} />
		<title>{title}</title>

		<meta
			name="robots"
			content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
		/>

		<meta name="color-scheme" content="light" />

		<meta name="application-name" content="Ten Wolde Dev" />
	</head>
	<body class="bg-slate-50 text-slate-900 font-sans antialiased">
		<slot />
	</body>
</html>
